# Tugas Besar - IF2220 - Probabilitas dan Statistika

## Soal

Diberikan sebuah data Gandum.csv yang dapat diakses pada utas berikut: Dataset Tugas Besar IF2220. Gandum.csv merupakan data klasifikasi biji gandum yang mengandung 12 kolom sebagai berikut:
1. id
2. Daerah
3. SumbuUtama
4. SumbuKecil
5. Keunikan
6. AreaBulatan
7. Diameter
8. KadarAir
9. Keliling
10. Bulatan
11. Ransum
12. Kelas

Kolom 2-11 adalah kolom atribut (non-target), sedangkan kolom 12 adalah kolom target.
Anda diminta untuk melakukan analisis statistika sebagai berikut:

### 1.Menulis deskripsi statistika (Descriptive Statistics) 
dari semua kolom pada data yang bersifat numerik, terdiri dari mean, median, modus, standar deviasi, variansi, range, nilai minimum, maksimum, kuartil, IQR, skewness dan kurtosis. Boleh juga ditambahkan deskripsi lain.

In [75]:
# Import data
import pandas as pd
gandum = pd.read_csv("Gandum.csv")
gandum.columns = ['id','Daerah','SumbuUtama','SumbuKecil','Keunikan','AreaBulatan','Diameter','KadarAir','Keliling','Bulatan','Ransum','Kelas']
gandum.head()

,id,Daerah,SumbuUtama,SumbuKecil,Keunikan,AreaBulatan,Diameter,KadarAir,Keliling,Bulatan,Ransum,Kelas
0,2,4176,109.348294,49.837688,0.890098,4277,72.918093,0.596231,260.346,0.774227,2.194088,1
1,3,4555,114.427991,52.151207,0.890105,4706,76.155145,0.776641,279.606,0.732159,2.194158,1
2,4,4141,108.701191,49.457349,0.890499,4236,72.611879,0.633180,260.478,0.766960,2.197877,1
3,5,5273,122.747869,55.757848,0.890876,5431,81.937733,0.669842,302.730,0.723031,2.201446,1
4,6,5371,123.943530,56.235398,0.891145,5531,82.695644,0.734144,297.114,0.764573,2.204013,1

In [76]:
print("------------- Mean -------------")
print(gandum.mean(numeric_only=True))
print("\n\n")
print("------------- Median -------------")
print(gandum.median(numeric_only=True))
#asumsi NaN tidak bisa menjadi mode
print("\n\n")
print("------------- Mode -------------")
print(gandum.mode(numeric_only=True, dropna=True))
print("\n\n")
print("------------- Std. Deviasi -------------")
print(gandum.std(numeric_only=True))
print("\n\n")
print("------------- Varians -------------")
print(gandum.var(numeric_only=True))
print("\n\n")
print("------------- Range -------------")
gandum_Describe = gandum.describe()
for column in gandum_Describe:
    print(f"{column:12} ", gandum_Describe[column]["max"] - gandum_Describe[column]["min"])
print("\n\n")
print("------------- Minimum -------------")
print(gandum.min(numeric_only=True))
print("\n\n")
print("------------- Maksimum -------------")
print(gandum.max(numeric_only=True))
print("\n\n")
print("------------- IQR -------------")
gandum_Describe = gandum.describe()
for column in gandum_Describe:
    print(f"{column:12} ", gandum_Describe[column]["75%"] - gandum_Describe[column]["25%"])
print("\n\n")
print("------------- Skewness -------------")
print(gandum.skew(numeric_only=True))
print("\n\n")
print("------------- Kurtosis -------------")
print(gandum.kurtosis(numeric_only=True))
print("\n\n")

------------- Mean -------------
id              251.000000
Daerah         4799.282565
SumbuUtama      116.020635
SumbuKecil       53.705716
Keunikan          0.878741
AreaBulatan    4935.010020
Diameter         77.755080
KadarAir          0.648320
Keliling        281.409028
Bulatan           0.761813
Ransum            2.150829
Kelas             1.503006
dtype: float64



------------- Median -------------
id              251.000000
Daerah         4733.000000
SumbuUtama      115.396744
SumbuKecil       53.727453
Keunikan          0.889996
AreaBulatan    4855.000000
Diameter         77.628878
KadarAir          0.625731
Keliling        279.955000
Bulatan           0.761403
Ransum            2.193132
Kelas             2.000000
dtype: float64



------------- Mode -------------
      id  Daerah  SumbuUtama  SumbuKecil  Keunikan  AreaBulatan   Diameter  \
0      2  3992.0   74.133114   39.906517  0.719916       3802.0  71.293564
1      3  4881.0   74.364021   41.436419  0.725553       4913.0  78.833256
2      4  5642.0   74.691881   42.871879  0.731211          NaN  84.756224
3      5  6083.0   76.293164   43.284979  0.738639          NaN  88.006342
4      6     NaN   76.789043   44.119355  0.749282          NaN        NaN
..   ...     ...         ...         ...       ...          ...        ...
494  496     NaN  152.068440   63.322854  0.913724          NaN        NaN
495  497     NaN  152.113491   63.762307  0.913760          NaN        NaN
496  498     NaN  153.583387   64.012769  0.913891          NaN        NaN
497  499     NaN  227.105462   65.738475  0.913909          NaN        NaN
498  500     NaN  227.928583   68.977700  0.914001          NaN        NaN

     KadarAir  Keliling   Bulatan    Ransum  Kelas
0    0.735849   197.015  0.174590  1.440796    2.0
1    0.824405   200.587  0.261297  1.453137    NaN
2         NaN   202.456  0.299298  1.465950    NaN
3         NaN   207.325  0.589146  1.483456    NaN
4         NaN   207.697  0.603807  1.510000    NaN
..        ...       ...       ...       ...    ...
494       NaN   375.651  0.872417  2.461017    NaN
495       NaN   390.125  0.874243  2.461510    NaN
496       NaN   434.235  0.874743  2.463297    NaN
497       NaN   448.305  0.891706  2.463546    NaN
498       NaN   488.837  0.904748  2.464809    NaN

[499 rows x 12 columns]



------------- Std. Deviasi -------------
id              144.193157
Daerah          986.406825
SumbuUtama       18.292730
SumbuKecil        4.069573
Keunikan          0.036619
AreaBulatan    1011.683617
Diameter          8.056920
KadarAir          0.094455
Keliling         37.339355
Bulatan           0.061741
Ransum            0.250010
Kelas             0.500493
dtype: float64



------------- Varians -------------
id             2.079167e+04
Daerah         9.729984e+05
SumbuUtama     3.346240e+02
SumbuKecil     1.656143e+01
Keunikan       1.340958e-03
AreaBulatan    1.023504e+06
Diameter       6.491395e+01
KadarAir       8.921700e-03
Keliling       1.394227e+03
Bulatan        3.811979e-03
Ransum         6.250502e-02
Kelas          2.504930e-01
dtype: float64



------------- Range -------------
id            498.0
Daerah        4931.0
SumbuUtama    153.79546865999998
SumbuKecil    29.071182429999993
Keunikan      0.19408517999999997
AreaBulatan   5141.0
Diameter      40.747172240000005
KadarAir      0.46897193099999995
Keliling      291.822
Bulatan       0.7301581349999999
Ransum        1.0240129659999997
Kelas         1.0



------------- Minimum -------------
id                2.000000
Daerah         2522.000000
SumbuUtama       74.133114
SumbuKecil       39.906517
Keunikan          0.719916
AreaBulatan    2579.000000
Diameter         56.666658
KadarAir          0.409927
Keliling        197.015000
Bulatan           0.174590
Ransum            1.440796
Kelas             1.000000
dtype: float64



------------- Maksimum -------------
id              500.000000
Daerah         7453.000000
SumbuUtama      227.928583
SumbuKecil       68.977700
Keunikan          0.914001
AreaBulatan    7720.000000
Diameter         97.413830
KadarAir          0.878899
Keliling        488.837000
Bulatan           0.904748
Ransum            2.464809
Kelas             2.000000
dtype: float64



------------- IQR -------------
id            249.0
Daerah        1450.0
SumbuUtama    24.992568300000016
SumbuKecil    5.116670624999998
Keunikan      0.04394081750000001
AreaBulatan   1483.5
Diameter      11.882671465000001
KadarAir      0.15422808850000003
Keliling      49.932500000000005
Bulatan       0.06429884950000009
Ransum        0.39813012199999953
Kelas         1.0



------------- Skewness -------------
id             0.000000
Daerah         0.242636
SumbuUtama     0.765236
SumbuKecil    -0.007025
Keunikan      -1.620518
AreaBulatan    0.262109
Diameter       0.006750
KadarAir       0.494884
Keliling       0.738875
Bulatan       -3.602930
Ransum        -0.656561
Kelas         -0.012061
dtype: float64



------------- Kurtosis -------------
id             -1.200000
Daerah         -0.429591
SumbuUtama      4.332895
SumbuKecil      0.483912
Keunikan        2.903678
AreaBulatan    -0.404261
Diameter       -0.463340
KadarAir       -0.743118
Keliling        2.285155
Bulatan        29.976634
Ransum         -0.434428
Kelas          -2.007918
dtype: float64

In [77]:
print("------------- Kuartil -------------")
gandum.describe().loc[['25%','50%','75%']]

------------- Kuartil -------------

,id,Daerah,SumbuUtama,SumbuKecil,Keunikan,AreaBulatan,Diameter,KadarAir,Keliling,Bulatan,Ransum,Kelas
25%,126.5,4042.5,104.063393,51.192400,0.863673,4166.5,71.743089,0.572602,255.8540,0.732088,1.983917,1.0
50%,251.0,4733.0,115.396744,53.727453,0.889996,4855.0,77.628878,0.625731,279.9550,0.761403,2.193132,2.0
75%,375.5,5492.5,129.055961,56.309070,0.907613,5650.0,83.625761,0.726830,305.7865,0.796387,2.382048,2.0

### 2. Membuat Visualisasi plot distribusi
dalam bentuk histogram dan boxplot untuk setiap kolom numerik. Berikan uraian penjelasan kondisi setiap kolom berdasarkan kedua plot tersebut.

### 3. Menentukan setiap kolom numerik berdistribusi normal atau tidak
Gunakan normality test yang dikaitkan dengan histogram plot.

### 4. Melakukan test hipotesis 1 sampel, dengan menuliskan 6 langkah testing
   menampilkan juga boxplotnya untuk kolom/bagian yang bersesuaian.<br>
   <ul>
    <li>Nilai rata-rata Daerah di atas 4700?</li>
    <li>Nilai Rata-rata Sumbu Utama tidak sama dengan 116?</li>
    <li>Nilai Rata-rata 20 baris pertama kolom Sumbu Kecil bukan 50?</li>
    <li>Proporsi nilai Diameter yang lebih dari 85, adalah tidak sama dengan 15% ?</li>
    <li>Proporsi nilai Keliling yang kurang dari 100, adalah kurang dari 5% ?</li>
   </ul>

### 5. Melakukan test hipotesis 2 sampel, dengan menuliskan 6 langkah testing 
menampilkan juga boxplotnya untuk kolom/bagian yang bersesuaian.
<ul>
    <li>Data kolom AreaBulatan dibagi 2 sama rata: bagian awal dan bagian akhir kolom. Benarkah rata-rata kedua bagian tersebut sama?</li>
    <li>Data kolom Kadar Air dibagi 2 sama rata: bagian awal dan bagian akhir kolom. Benarkah rata-rata bagian awal lebih besar dari pada bagian akhir sebesar 0.2?</li>
    <li>Rata-rata 20 baris pertama kolom Bulatan sama dengan 20 baris terakhirnya?</li>
    <li>Proporsi nilai bagian awal Ransum yang lebih dari 2, adalah lebih besar daripada, proporsi nilai yang sama di bagian akhir Ransum?</li>
    <li>Bagian awal kolom Diameter memiliki variansi yang sama dengan bagian akhirnya?</li>
</ul>

### 6. Test korelasi
tentukan apakah setiap kolom non-target berkorelasi dengan kolom target, dengan menggambarkan juga scatter plot nya. Gunakan correlation test.